/target
.DS_Store
/.vscode/
src/.DS_Store

coverage/coverage_full.txt
coverage/coverage.profdata
coverage/coverage.txt
coverage/html/control.js
coverage/html/index.html
coverage/html/style.css
coverage/html/coverage/Users/tom/.rustup/toolchains/stable-aarch64-apple-darwin/lib/rustlib/src/rust/library/core/src/panic.rs.html
coverage/html/coverage/Users/tom/.rustup/toolchains/stable-aarch64-apple-darwin/lib/rustlib/src/rust/library/std/src/sys/thread_local/native/mod.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/brain.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/cma_es_fns.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/cma_es.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/evaluation.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/main.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/physics_world.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/robot_physics.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/robot_random_search.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/robot_sim_shared.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/robot_simulator.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/robot_trainer.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/shared_config.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/editor/capsule_editor.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/editor/joint_editor.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/editor/robot_editor.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/model/capsule.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/model/joint.rs.html
coverage/html/coverage/Users/tom/code/rust_robot_designer/src/model/robot.rs.html
